/* Header Container */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #0f2f3c;
    color: #fff;
    position: sticky;
    /* top: 0; */
    height: 35px;
    /* z-index: 1000; */
  }
  
  /* Logo */
  .main-logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    margin-right: 10px;
  }
  
  /* Navigation Menu */
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-menu li {
    margin-right: 20px;
  }
  
  .nav-menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-menu li a:hover {
    color: #ff6347; /* Change color on hover */
  }
  