

.delete-button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-button {
    padding: 5px 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.container h2 {
    margin-bottom: 10px;
}
.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th,
.users-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.users-table th {
    background-color: #d5d4d4;
    font-weight: bold;
}

.users-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.users-table tr:hover {
    background-color: #ddd;
}

/* For create page */
.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 100%;
    /* margin-right: auto; */
    margin-right: 15px;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* For responsive layouts */
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }