.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    /* top: 0; */
    /* top: 35px; */
    left: 0;
    background-color: #0f2f3c;
    /* Adjust color as needed */
    padding: 20px;
    color: white;
    z-index: 1;
}

.logo {
    margin-bottom: 20px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
}

.submenu {
    display: none;
}

.submenu.open {
    display: block;
}

/* .menu li:hover .submenu {
    display: block;
  } */

.logout-button {
    background-color: #00c1de;
    /* Red color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    position: absolute;
    top: 10px;
    /* Adjust the top spacing as needed */
    right: 10px;
    /* Adjust the right spacing as needed */
    z-index: 999;
    /* margin-top: 20px; */
}


.logout-button:hover {
    background-color: #244b5a;
    /* Darker red color on hover */
}

.main-content {
    margin-left: 250px;
    /* Ensure main content starts after the sidebar */
    padding: 20px;
}